/* Context Menu */
.contextMenu {
    position: absolute;
    background-color: #DDD;
    width: 150px;
    z-index: 10;
    user-select: none;
    /* Without some outline, it is hard to see what is happening when one menu is on top of another */
    box-shadow: 2px 2px 10px black;
    /* Make the menu scroll when there are too many elements to display comfortably. */
    max-height: 400px;
    overflow-y: auto;
}
.contextOption {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    padding: 8px 8px;
}
.contextOption:hover, .contextOption.open {
    background-color: #EEE;
}

.pp-container {
    position: absolute;
    width: 400px;
    padding: 4px;
    background-color: #EEE;
    font-size: 16px;
    font-family: arial;
    overflow: auto;
}

.top-container {
    top: 0;
    height: 50vh;
}
.bottom-container {
    bottom: 0;
    height: 50vh;
}
.left-container {
    left: 0px;
}
.right-container {
    right: 0px;
}

.pp-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
    align-items: center;
}

.pp-property {
    display: inline-block;
    margin-right: 4px;
}

.pp-container select {
    min-width: 50px;
    max-width: 120px;
}
.pp-container input[type="checkbox"] {
    margin: 0;
    margin-left: 4px;
}
.pp-container input[type="number"] {
    margin: 0;
    margin-left: 4px;
    font-size: 10px;
    width: 4em;
}
.pp-container input[type="number"].small {
    width: 3em;
}
.pp-container input[type="number"].large {
    width: 6em;
}
.pp-tag-container {
    border: 1px solid black;
    padding: 4px;
    background: white;
}
.pp-tag {
    display: inline-block;
    background-color: #AAA;
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
}
.pp-tag::after {
    content: 'x';
    color: #444;
}
.pp-tag:hover::after {
    color: red;
}
.tabContainer-content {
    margin-top: -1px;
    border-top: 1px solid black;
    padding-top: 5px;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabContainer-tabs {
    flex-grow: 0;
    z-index: 1;
    display: flex;
}
.tabContainer-content {
    flex-grow: 1;
    overflow-y: auto;
}

.tabContainer-tab {
    display: inline-block;
    margin-right: 2px;
    padding: 2px 4px;
    border: 1px solid black;
    background-color: #AAA;
    cursor: pointer;
    flex-grow: 1;
}

.tabContainer-tab.selected {
    border-bottom-color: #EEE;
    background-color: #EEE;
    cursor: default;
}

/*
    Snackbar implementation from https://www.w3schools.com/howto/howto_js_snackbar.asp
    with minor modifications.
*/

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: white;
    text-align: center; /* Centered text */
    border: 2px solid white;
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.snackbar.hide {
    opacity: 0;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
